{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Django Tutorial">
    <meta name="keywords" content="login, user, tutorial">
    <meta name="author" content="Andrew Li">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Django Tutorial</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
</head>

<body>
<div>
    <h1>Hello World!</h1>
</div>

</body>
</html>
